<div class="connect">
  <p class="small-title">Connect</p>
  <ul class="contact-list">
    <li class="contact-icon">
      <a href="mailto:doerschera@gmail.com?Subject=Hello"><img src="assets/images/mail-icon.png" alt="" /></a>
    </li>
    <li class="contact-icon">
      <a href="https://github.com/doerschera" target="_blank">
      <img src="assets/images/git-icon.png" alt=""></a>
    </li>
    <li class="contact-icon">
      <a href="https://www.linkedin.com/in/aly-doerscher-90a24510b" target="_blank"><img src="assets/images/li-icon.png" alt=""></a>
    </li>
  </ul>
</div>
