@import "helpers/variables.scss";
@import "helpers/mixins.scss";
@import "partials/index.scss";
@import "partials/about.scss";
@import "partials/nav.scss";
@import "partials/connect.scss";

// element styles

body {
  font-family: $font-main;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  display: inline;
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-12 {
  width: 100%;
  display: block;
}

.col-8 {
  width: 66.66%;
  display: flex;
  flex-direction: column;
}

.col-6 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.col-4 {
  width: 33.33%;
  display: flex;
  flex-direction: column;
}

.small-title {
  font-size: 12px;
  margin-bottom: 0;
}

.med-paragraph {
  font-size: 16px;
}
