@import "helpers/variables.scss";

// element styles

body {
  font-family: $font-main;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}

ul {
  padding: 0;
}

li {
  display: inline;
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col-12 {
  width: 100%;
  display: block;
}

.col-8 {
  width: 66.66%;
  display: flex;
  flex-direction: column;
}

.col-6 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.col-4 {
  width: 33.33%;
  display: flex;
  flex-direction: row;
}

.small-title {
  font-size: 12px;
  margin-bottom: 0;
}

.med-paragraph {
  font-size: 16px;
}


// index styles

#row1, #education, {
  border-bottom: solid 1px $light-teal;
}

#row1 {
  border-top: solid 1px $light-teal;
  margin-top: 5px;
}

#connect {
  border-right: solid 1px $light-teal;
  display: block;
  p {
    color: $light-blue;
    margin-bottom: 20px;
  }
}

 .main {
   width: 800px;
   margin: auto;
 }

 .contact-list {
   margin: 0;
   li:nth-child(2) {
     margin: 0 20px;
   }
   img {
     width: 30px;
     opacity: 0.7;
   }
 }

 #about {
   padding: 0 20px;
   p {
     color: $light-teal;
   }
 }

 #name {
   h1 {
     font-size: 96px;
     color: $dark-blue;
     margin: 0px;
     padding-bottom: 0;
   }
   h2 {
     font-size: 40px;
     color: $dark-teal;
     margin-top: -20px;
     margin-bottom: 5px;
     padding-top: 0;
   }
 }

 #skills {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   border-left: solid 1px $light-teal;
   color: $light-blue;
   margin: 5px 0;
   p {
     margin-left: 40px;
   }
   .skills-list {
     margin-left: 40px;
     -moz-column-count: 3;
    -moz-column-gap: 50px;
    -webkit-column-count: 3;
    -webkit-column-gap: 50px;
     column-count: 3;
     column-gap: 50px;
     li {
       display: list-item;
     }
   }
 }

 .skills-cover {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: white;
   color: $light-blue;
   h2 {
     text-align: center;
     font-size: 30px;
     width: inherit;
     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
   &:hover {
     cursor: pointer;
   }
 }
