.intro-row {
  border-bottom: solid 1px $light-teal;
  padding-bottom: 5px;
}

.project-image, .project-info {
  margin: 5px 0;
}

.title {
  margin-left: 20px;
  color: $light-blue;
  h1 {
    margin: 10px 0;
    font-size: 50px;
  }
}

.work-intro {
  padding-right: 10px;
  border-right: solid 1px $light-teal;
  color: $medium-teal;
  font-size: 15px;
}

#projects-viewer {
  border-bottom: solid 1px $medium-teal;
  color: $dark-teal;
  a {
    color: $dark-teal;
  }
}

.project {
  display: none;
}

.project-image, .project-info {
  padding: 10px 0;
}

.project-image {
  img {
    width: 500px;
  }
}

.project-info {
  width: 300px;
  margin-left: 10px;
  padding-left: 20px;
  color: $dark-teal;
  h1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  h5 {
    margin: 0;
  }
  p {
    font-size: 14px;
  }
}


.project-nav {
  text-align: center;
  color: $dark-teal;
  border-bottom: solid 1px $medium-teal;
  .small-title {
    margin: 5px 0;
  }
}

.project-tracking {
  border-left: solid 1px $medium-teal;
  border-right: solid 1px $medium-teal;
}

.project-tracking, #next-project, #previous-project {
  margin: 5px 0;
}

#next-project:hover, #previous-project:hover {
  cursor: pointer;
}
