// -------- font -------------

@font-face {
  font-family: "Avenir";
  src: url("fonts/Avenir.ttc");
  font-weight: normal;
  font-style: normal;
}

$font-main: 'Avenir', Helvetica, sans-serif;

// --------- colors -------------

$dark-blue: rgb(33, 78, 95);
$dark-teal: rgb(16, 99, 119);
$medium-teal: rgb(78, 115, 127);
$light-teal: rgb(89, 131, 140);
$light-blue: rgb(125, 159, 179);
