
<div class="main">
  <div class="12-col" id="about">
    About
  </div>
  <div class="8-col" id="name">
    <h3>Aly Doerscher</h3>
    <h5>Frontend Developer</h5>
    <ul class="contact-list">
      <li class="contact-icon"><a href="#">email</a></li>
      <li class="contact-icon"><a href="#">github</a></li>
      <li class="contact-icon"><a href="#">linkedin</a></li>
    </ul>
  </div>
</div>

<!-- {{outlet}} -->
