
{{#nav-bar}}
{{/nav-bar}}

<div class="container">
  <div class="row intro-row">
    <div class="col-6 work-intro">
      <p class="small-title">Misson</p>
      <p>I think the web should be both beautiful and functional. I'm always striving to find the perfect balance of simplicity to create an effortless experience.</p>
    </div>
    <div class="col-6 title">
      <p class="small-title">Formula</p>
      <h1>Form + Function</h1>
    </div>
  </div>
  <div id="projects-viewer">
    <p class="small-title">Work</p>
    {{#each model as |project index|}}
      {{project-view title=project.title skills=project.skills description=project.description link1=project.links.[0] link2=project.links.[1]
      image=project.image
      index = index
      }}
    {{/each}}
  </div>
  <div class="row project-nav">
    <div class="col-4" id="previous-project">
      <p class="small-title">prev</p>
    </div>
    <div class="col-4 project-tracking">
      <p class="small-title">1/6</p>
    </div>
    <div class="col-4" id="next-project">
      <p class="small-title" {{action "nextProject"}}>next</p>
    </div>
  </div>
  {{#connect-links}}
  {{/connect-links}}
</div>
